#div1 {
    background-color: lightcoral;
}

#div2 {
    background-color: antiquewhite;
}

#div3 {
    background-color: aqua;
    color: slateblue;
}

#div7 {
    background-color: sandybrown;
}

#div11 {
    background-color: aqua;
    color: slateblue;
}

#div23, #div24, #div25 {
    background-color: cornflowerblue;
    color: black;
}

#div30 {
    background-color: lightcoral;
    color: black;
}

#div32 {
    background-color: lightseagreen;
    color: black;
}