#div1 {
    background-color: lightcoral;
}

#div2 {
    background-color: antiquewhite;
}

#div3 {
    background-color: aqua;
    color: slateblue;
}

#div7 {
    background-color: sandybrown;
}

#div11 {
    background-color: aqua;
    color: slateblue;
}